.primary-background {
	background-color: white;
}

.about-header {
	float: right;
	margin-top: 50px;
	padding: 50px;
	border-right: 1px solid lightgray;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 700;
	color: gray;
}

.about-primary-text {
	float: right;
	margin-top: 70px;
	color: gray;
}

.self-portrait {
	margin: 50px auto;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	background-color: gray;
}

.about-secondary-text {
	margin-bottom: 100px;
	text-align: center;
	color: gray;
}

.hire {
	margin: 0 auto 100px;
	padding: 10px;
	display: block;
	width: 170px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	color: gray;
	background-color: white;
	border: 2px solid gray;
	transition: all 0.3s ease;
}

.hire:hover {
	box-shadow: inset 0 0 0 5px gray;
}