.archive-preview {
	margin: 10px 0px;
	position: relative;
	transition: all 500ms ease-in-out;
}

.archive-preview:before {
	content:"";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0);
	transition: background 500ms linear;
}

.archive-preview-image {
	width: 100%;
	height: 100%;
}

.archive-preview-text {
	position: absolute;
	top: 65px;
	width: 100%;
	text-align: center;
	font-size: 30px;
	opacity: 0;
	transition: all 500ms ease-in-out;
}

.archive-preview {
	display: block;
	height: 100%;
	width: 100%;
	color: white;
}

.archive-preview:hover {
	.archive-preview-text {
		opacity: 1;
		top: 45px;
		color: white;
	}
}

.archive-preview:hover:before {
	background-color: rgba(0, 0, 0, 0.4);
}
