.primary-background {
	min-height: 70%;
	background-color: white;
}

.comic-title {
	//text-align: center;
	margin-top: 30px;
	margin-left: 15px;
	color: gray;
}

.comic-date {
	//text-align: center;
	margin-left: 15px;
	color: gray;
}

.controls-container {
	float: right;
	margin: 30px 0px;
}

.previous-container {
	display: inline-block;
	padding: 0px 20px;
}

.random-container {
	display: inline-block;
	padding: 0px 20px;
}

.next-container {
	display: inline-block;
	padding: 0px 20px;
}

.comic-strip {
	width: 100%;
}

a.controls-text {
	display: inline;
	border-right: 1px dotted lightgray;
	color: gray;
	text-decoration: none;
}

a.controls-text:last-child {
	border-right: none;
}

a.controls-text:hover {
	padding-bottom: 10px;
	border-bottom: 3px solid lightgray;
}

.twitter-share-button {
	margin-bottom: 100px;
}

.social-share-container {
	position: relative;
	margin-bottom: 80px;
	height: 20px;
}

.fb-share-button {
	position: absolute;
	top: 0;
}

.fb_iframe_widget {
	position: static;
}

.twitter-share-button {
	position: absolute;
	top: 0;
	left: 100px;
}