.footer {
	margin-top: 100px;
	height: 200px;
	background-color: lightgray;
}

.footer, .primary-background:after {
	height: 200px;
}

.footer-nav {
	margin: 50px 0px;
	padding: 0;
}

.footer-nav-items {
	padding: 5px 0px;
	list-style-type: none;
}

.footer-nav-items a {
	display: block;
	text-decoration: none;
	color: white;
}

.footer-follow-text {
	text-align: center;
	margin: 70px 0px;
	color: white;
}

.footer-follow-icons-container {
	float: right;
}

.footer-social-icons {
	display: inline-block;
	margin: 50px 10px;
}

.footer-social-icons img{
	width: 100%;
	height: 100%;
}

.footer-social-icons:last-child {
	margin: 50px 0px;
}




@media (max-width: 850px) {
	.footer-social-icons{
		width: 40px;
		height: 40px;
	}
}