.hero-background {
	margin-top: 65px;
	//background: url("http://placehold.it/1200x500");
	background: url('/images/dave-chick.jpg');
	background-size: cover;
	background-position: center;
	height: 300px;
	width: 100%;
}

.hero-text-header {
	padding-top: 146px;
	font-size: 50px;
	color: lightgray;
}

.scroll-container {
	margin-top: 150px;
}

.scroll-text {
	text-align: center;
}

.scroll-text-a,
a.scroll-text-a {
	color: white;
	text-decoration: none;
}