a.more-comics-header	{
	display: block;
	margin-bottom: 20px;
	font-size: 30px;
	color: gray;
	text-decoration: none;
}

a.more-comcis-header:hover {
	color: gray;
	text-decoration: none;
}

.more-comics-card{
	margin: 0 auto;
	position: relative;
	width: 100%;
	border: 2px solid black;
	transition: 1s ease-in-out;
	z-index: 1;
}

.more-comics-card:before {
	content:"";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0);
	transition: background 1s linear;
}

.more-comics-image {
	display: block;
	width: 100%;
	height: 100%;
}

.more-comics-image {
	width: 100%;
}

.more-comics-text {
	color: white;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 100px;
	opacity: 0;
	transition: 1s ease-in-out;
}

.more-comics-card:hover {
	//width: 215px;
	//height: 215px;
	border: 2px solid lightgray;
	
	.more-comics-text {
		position: absolute;
		opacity: 100;
		top: 120px;
	}
}

.more-comics-card:hover:before {
	background-color: rgba(0, 0, 0, 0.3);
}



