.logo {
	display: inline;
	float: left;
	margin-left: 100px;
	color: gray;
}

.menu-background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	width: 100%;
	height: 65px;
	background-color: rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid lightgray;
}

.menu-container {
	float: right;
	margin-right: 50px;
}

.menu {
	margin: 20px 0px;
	height: 20px;
}

.menu-items {
	display: inline;
	margin: 0px 10px;
	padding: 0px 10px;
	border-right: 1px dotted lightgray;
	color: gray;
}

.menu-items:last-child {
	border-right: none;
}

.menu-items a {
	text-decoration: none;
	color: gray;
}

.menu-items a:hover {
	padding-bottom: 10px;
	border-bottom: 3px solid lightgray;
}