.prints-header {
	margin: 35px 0px;
	text-align: center;
	font-size: 35px;
	color: gray;
}

.print-container {
	margin: 40px auto;
	position: relative;
	width: 200px;
	height: 200px;
	border: 2px solid gray;
}

.print-placeholder {
	height: 100%;
	width: 100%;
}

a.print-select {
	display: inline-block;
	position: absolute;
	top: 0;
	opacity: 0;
	background: white;
	width: 196px;
	height: 196px;
	z-index: 300;
	transition: all 500ms ease-in-out;
}

.print-select-icon {
	position: absolute;
	top: 100px;
	left: 60px;
	width: 80px;
	height: 80px;
	opacity: 0;
	transition: all 500ms ease-in-out;
}

.print-select:hover {
	opacity: .5;
	
	.print-select-icon {
		top: 65px;
		opacity: 1;
	}
}

.print-title {
	font-size: 20px;
}

.print-cost {
	color: gray;
}


/*****************************
media queries
*****************************/

@media (max-width: 500px) {
  .print-container {
  	width: 150px;
  	height: 150px;
  }

  a.print-select {
  	width: 146px;
  	height: 146px;
  }

  .print-select-icon {
  	top: 80px;
  	left: 35px;
  	transition: all 500ms ease-in-out;
  }

  .print-select:hover {
  	.print-select-icon {
  		top: 35px;
  	}
  }

  .print-title {
  	font-size: 16px;
  }

}