.secondary-background {
	background-color: lightgray;
	width: 100%;
}

.skill-circle-container {
	background-color: white;
	margin: 50px 0px;
	//opacity: 0;
	transition: all 1s ease;
}

#circle,
#circle2 {
	width: 100px;
	position: relative;
	padding: 30px 0px;
	margin: 0 auto;
}

#circle3 {
	width: 100px;
	position: relative;
	padding: 30px 0px;
	margin: 0 auto;
}

.skill-circle-value {
	position: absolute;
	top: 63px;
	left: 25px;
	font-size: 25px;
	color: gray;
}

.skill-type	{
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
	color: gray;
}

.skill-desc {
	padding: 25px;
	text-align: center;
	line-height: 1.7;
	color: gray;
}

.skill-circle-container:hover {
	background-color: black;

	.skill-circle-value {
		color: white;
	}

	.skill-type {
		color: white;
	}

	.skill-desc {
		color: white;
	}
}