#sb-site, .sb-site-container {
  background-color: white; }

#sb-site {
  transform: t !important; }

.sb-slidebar.sb-active {
  background-color: white;
}

.sb-slidebar ul {
  font-family: 'Comfortaa', sans-serif;
  text-decoration: none;
  list-style-type: none;
  color: grey;
  font-size: 20px;
  margin-top: 35px;
  padding-left: 20px; 
}
  
.sb-slidebar ul li {
  padding: 10px 0; 
}


.hamburger {
  margin-right: 100px;
  width: 20px;
  display: block;
  cursor: pointer;
  position: relative;
  float: right;
}
  .hamburger .menu-bar {
    height: 3px;
    display: block;
    background-color: gray;
    margin-bottom: 4px; }


.menu-items-slide a{
  padding: 0px 20px;
  color: gray;
  text-decoration: none;
}
/************************************************
@ Media 
************************************************/
@media (max-width: 900px) {
  .menu-container {
    display: block;
    display: none; 
  } 
  .comic-title,
  .comic-date {
    text-align: center;
  }
  .controls-container {
    float: none;
    text-align: center;
  }
  .hamburger {
    margin-right: 20px;
  }
  .logo {
    margin-left: 20px;
  }
}

@media (min-width: 900px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 500px) {
  a.more-comics-header {
    font-size: 16px;
  }

}