.print-store-preview-container {
	margin: 50px 0px;
}

.print-store-preview-image {
	width: 100%;
	height: 100%;
	border: 1px solid gray;
}

.print-store-description-container {
	margin: 50px 0px;
}

.print-store-description-header {
	font-size: 30px;
	color: gray;
}

.print-store-description {

}

.print-store-price {
	font-size: 20px;
	color: lightblue;
}

.print-store-cart-button {
	margin: 20px 0px;
	padding: 10px 20px;
	background: lightblue;
	border: none;
	border-radius: 5px;
}

.print-store-cart-button:focus {
	outline: 0;
}