$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'nav-bar';
@import 'hero';
@import 'featured-comic';
@import 'footer';
@import 'more-comics';
@import 'slidebar';
@import 'prints';
@import 'store';
@import 'archive';

html, body {
	height: 100%;
	font-family: 'Comfortaa', sans-serif;
}
