.logo {
	display: inline;
	float: left;
	margin-left: 100px;
	color: gray;
}

.menu-background {
	border-bottom: 1px solid lightgray;
}

.menu-container {
	float: right;
	margin-right: 100px;
}

.menu {
	margin: 20px 0px;
	height: 20px;
}

.menu-items {
	display: inline;
	margin: 0px 10px;
	padding: 0px 10px;
	border-right: 1px dotted lightgray;
	color: gray;
}

.menu-items:last-child {
	border-right: none;
}

.menu-items a {
	text-decoration: none;
	color: gray;
}

.menu-items a:hover {
	padding-bottom: 10px;
	border-bottom: 3px solid lightgray;
}